name: Compile and release

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  PLUGIN_NAME: mannvsmann
  SCRIPTS_PATH: addons/sourcemod/scripting
  SM_VERSION: '1.12.x'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Cache include files
        id: cache-includes
        uses: actions/cache@v5
        with:
          path: ${{ env.SCRIPTS_PATH }}/include
          key: includes-${{ hashFiles('.github/workflows/main.yml') }}

      - name: Download include files
        if: steps.cache-includes.outputs.cache-hit != 'true'
        run: |
          set -e
          includes=(
            "https://raw.githubusercontent.com/FlaminSarge/tf2attributes/master/scripting/include/tf2attributes.inc"
            "https://raw.githubusercontent.com/nosoop/SM-TFUtils/master/scripting/include/tf2utils.inc"
            "https://raw.githubusercontent.com/nosoop/SMExt-SourceScramble/refs/heads/master/scripting/include/sourcescramble.inc"
            "https://raw.githubusercontent.com/Mikusch/PluginStateManager/refs/heads/master/addons/sourcemod/scripting/include/pluginstatemanager.inc"
          )

          mkdir -p "${{ env.SCRIPTS_PATH }}/include"

          for url in "${includes[@]}"; do
            echo "Downloading $url"
            curl --fail -sSL -O --output-dir "${{ env.SCRIPTS_PATH }}/include" "$url"
          done

      - name: Setup SourcePawn compiler
        id: setup_sp
        uses: rumblefrog/setup-sp@master
        with:
          version: ${{ env.SM_VERSION }}
          version-file: ${{ env.SCRIPTS_PATH }}/${{ env.PLUGIN_NAME }}.sp
          define-name: PLUGIN_VERSION

      - name: Compile plugin
        run: |
          mkdir -p addons/sourcemod/plugins
          spcomp -v2 -E -i "${{ env.SCRIPTS_PATH }}/include" -o "addons/sourcemod/plugins/${{ env.PLUGIN_NAME }}.smx" "${{ env.SCRIPTS_PATH }}/${{ env.PLUGIN_NAME }}.sp"
          echo "=== OUT FILES ==="
          ls addons/sourcemod/plugins
          echo "=== VERSION ==="
          echo ${{ steps.setup_sp.outputs.plugin-version }}

      - name: Zip output
        run: zip -qq -r ${{ github.event.repository.name }}.zip addons materials models scripts

      - name: List build outputs
        run: |
          echo "::group::Directory contents"
          ls -R
          echo "::endgroup::"
          echo "::group::Zip contents"
          unzip -l ${{ github.event.repository.name }}.zip
          echo "::endgroup::"

      - name: Create GitHub release
        if: github.ref_name == 'master'
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.setup_sp.outputs.plugin-version }}
          artifacts: ./${{ github.event.repository.name }}.zip
          draft: true
          allowUpdates: true
          updateOnlyUnreleased: true
          skipIfReleaseExists: true
